.app {
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app .counter button {
  font-size: 32px;
  padding: 8px 16px;
  background: none;
  border: 2px solid grey;
  cursor: pointer;
}

.app .tilt .tilt-root {
  background: linear-gradient(135deg, #04f700, #12dbf1);
  padding: 40px;
  transform-style: preserve-3d;
}

.app .tilt .totally-centered {
  background: white;
  padding: 8px;
  transform: translateZ(40px);
}

.app .name {
  text-align: left;
}
